.write {
  padding-top: 20px;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category{
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 40;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  width: 24%;
  margin-left: 10px;
}

.writeInput1 {
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 20;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  width: 50%;
}

.writeInput2 {
  margin-top: 20px;
  font-size: 30px;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  width: 75%;
}

.writeInput::placeholder {
  color: rgb(129, 125, 125);
  font-weight: 300;
}



.writeText {
  height: 10vh;
  font-family: inherit;
  font-size: 20px;
}

.writeSubmit {
  position: absolute;
  top: 220px;
  right: 50%;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.writeSubmit:disabled{
  background-color: rgb(129, 125, 125);
}

.instruction{
  margin-left: 11%;
  border: 2px solid red;
  width: 70.5%;
  border-radius: 10px;
}

.instruction h2{
   margin-left: 44%;
}

.instruction span{
  margin-left: 10px;
  font-size: 20px;
}