.posts{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    height: 40%;
}
.error{
     text-align: center;
     justify-items: center;
     align-items: center;
     height: 155px;
     margin-top: 20%;
}
